body.dia {
    background-image: url(img/dia.jpg);
    background-size: cover;
}

body.noite{
    background-image: url(img/noite.jpg);
    background-size: cover;
}


h1 {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.34);
}

label {
    color: rgb(13, 115, 159);
}